html{ height:auto; } 
body{ 
    font-family: "GeogrotesqueW01-Regular1185161", Arial;
	height:auto;	
	background: url(../images/bg-wheat.jpg) no-repeat center center fixed;
  	background-size: cover;

} 
h1,h2,h3{ 
	font-family: "Antenna", Arial; 
	margin:0px; 
}
header{ 
	width:100%; 
	position:relative;
	height:	53px; 
	padding:10px; 
} 
#Loading{ 
	width:100%; 
	text-align:center; 
	margin:200px auto; 
	z-index:100000; 
	position:absolute; 
} 
#StartOver{ 
	opacity:0;
	display:block; 
	width:130px; 
	position:absolute; 
	top:19px; 
	right:-100px; 
	text-shadow: 1px 1px 0px #365a8f; 
	color:#FFF; 
	text-decoration:none; 
	font-family: "Antenna", Arial;
	transition:right 1s 0s, opacity 1s 0s; 
} 
#StartOver.on{ 
	right:40px; 
	opacity:1;
} 
#StartOver.moveleft{ 
	right:232px; 
	opacity:1;
} 
#Map{ 
	position:absolute; 
	width:1028px; 
	height:477px; 
	z-index:1; 
	border:1px solid #368f3f;
	opacity:0; 
	transition:width 1s,height 1s,left 1s,top 1s, opacity 0.5s;
	box-shadow:0px 0px 4px #365a8f; 
} 
#Crops{
	position:absolute; 
	width:1028px; 
	height:477px; 
	z-index:1; 
	border:1px solid #666;
	opacity:0; 
	transition:width 1s,height 1s,left 1s,top 1s, opacity 0.5s;
	box-shadow:0px 0px 4px #666; 
}
#Map > #WorldMapBase,
#Crops > #CropHint{ 
	position:relative; 
	z-index:100; 
} 
#Map > #MapRegionalHover,
#Crops > #CropHover{ 
	position:absolute; 
	z-index:200; 
	width:1028px; 
	height:477px; 
	top:0px; 
	transition:opacity 1.5s;
} 
#Map > #WorldMapLabels,
#Crops > #CropBase{ 
	position:absolute; 
	z-index:300; 
	top:0px; 
	transition:opacity 1.5s 1s; 
} 
#Map > #MicroMap,
#Crops > #MicroCrops{ 
	display:block; 
	position:absolute;
	top:0px; 
	left:0px; 
	z-index:50; 
	opacity:0; 
	transition:opacity:0.5s; 
} 
#Map h2,
#Crops h2{ 
	position:absolute; 
	z-index:80; 
	top:-40px; 
	left:-1px; 
	padding:10px 20px; 
	border-top-left-radius:5px; 
	border-top-right-radius:5px; 
	font-family: "Antenna", Arial; 
	font-weight:normal; 
	font-size:1.2em; 
	transition:top 1s; 
	background:#368f3f; 
	color:#fff; 
} 
	
#Map a.startlink,
#Crops a.startlink{ 
	position:absolute; 
	display:block;
	width:242px;
	bottom:40px; 
	left:-1px;
	padding:15px 5px 5px; 
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px; 
	z-index:80; 
	background:#368f3f; 
	color:#FFF; 
	text-decoration:none; 
	font-family: "Antenna", Arial; 
	transition:bottom 1s; 
	box-shadow:0px 0px 4px #365a8f; 
} 
#Map > a.changelink{ 
	opacity:0; 
	display:block; 
	width:145px; 
	position:absolute; 
	top:15px; 
	left:0px; 
	text-shadow: 1px 1px 0px #365a8f; 
	color:#FFF; 
	text-decoration:none; 
	font-family: "Antenna", Arial;
	transition:left 1s 0s, opacity 1s 0s; 
} 
#Crops > a.changelink{ 
	opacity:0; 
	display:block; 
	width:145px; 
	position:absolute; 
	top:15px; 
	left:0px; 
	text-shadow: 1px 1px 0px #365a8f; 
	color:#FFF; 
	text-decoration:none; 
	font-family: "Antenna", Arial;
	transition:left 1s 0s, opacity 1s 0s; 
} 

#MapRegionalHover.Argentina{ background:url(../images/Argentina.png); }
#MapRegionalHover.Brazil{ background:url(../images/Brazil.png); }
#MapRegionalHover.BurkinaFaso{ background:url(../images/BurkinaFaso.png); }
#MapRegionalHover.CentralEastAfrica{ background:url(../images/CentralEastAfrica.png); }
#MapRegionalHover.China{ background:url(../images/China.png); }
#MapRegionalHover.Colombia{ background:url(../images/Colombia.png); }
#MapRegionalHover.Ethiopia{ background:url(../images/Ethiopia.png); }
#MapRegionalHover.Europe{ background:url(../images/Europe.png); }
#MapRegionalHover.Guatemala{ background:url(../images/Guatemala.png); }
#MapRegionalHover.Honduras{ background:url(../images/Honduras.png); }
#MapRegionalHover.India{ background:url(../images/India.png); }
#MapRegionalHover.Indonesia{ background:url(../images/Indonesia.png); }
#MapRegionalHover.Mali{ background:url(../images/Mali.png); }
#MapRegionalHover.WesternAfrica{ background:url(../images/WesternAfrica.png); }
#MapRegionalHover.Mexico{ background:url(../images/Mexico.png); }
#MapRegionalHover.MexicotoPanama{ background:url(../images/MexicotoPanama.png); }
#MapRegionalHover.Nicaragua{ background:url(../images/Nicaragua.png); }
#MapRegionalHover.Niger{ background:url(../images/Niger.png); }
#MapRegionalHover.Nigeria{ background:url(../images/Nigeria.png); }
#MapRegionalHover.NorthernAfrica{ background:url(../images/NorthernAfrica.png); }
#MapRegionalHover.SahelAfrica{ background:url(../images/Sahel.png); }
#MapRegionalHover.SouthAfrica{ background:url(../images/SouthAfrica.png); }
#MapRegionalHover.Thailand{ background:url(../images/Thailand.png); }
#MapRegionalHover.Uganda{ background:url(../images/Uganda.png); }
#MapRegionalHover.Ukraine{ background:url(../images/Ukraine.png); }
#MapRegionalHover.USGrains{ background:url(../images/USGrains.png); }
#MapRegionalHover.Vietnam{ background:url(../images/Vietnam.png); }

#CropHover.Corn{ background:url(../images/Corn.jpg); }
#CropHover.Rice{ background:url(../images/Rice.jpg); }
#CropHover.Soybeans{ background:url(../images/Soybean.jpg); }
#CropHover.SugarBeet{ background:url(../images/Sugarbeet.jpg); }
#CropHover.Sugarcane{ background:url(../images/Sugarcane.jpg); }
#CropHover.Wheat{ background:url(../images/Wheat.jpg); }
#CropHover.Cotton{ background:url(../images/Cotton.jpg); }
#CropHover.Coffee{ background:url(../images/Coffee.jpg); }
#CropHover.Cocoa{ background:url(../images/Cocoa.jpg); }

#Map.asstartbutton,
#Crops.asstartbutton{ 
	width:250px;
	height:116px;  
	cursor:pointer;
} 

#Map.asstartbutton > #WorldMapLabels,
#Map.asstartbutton > #MapRegionalHover{ 
	opacity:0; 
} 
#Map.activereset > #WorldMapLabels,
#Map.activereset > #MapRegionalHover{
	display:none; 
} 
#Map.asstartbutton h2,
#Crops.asstartbutton h2{ 
	top:0px; 
} 
#Map.asstartbutton a.startlink,
#Crops.asstartbutton a.startlink{
	bottom:-35px;
}  
#Map.activereset{ 
	width:99px; 
	height:46px; 
	cursor:pointer; 
	box-shadow:none; 
} 
#Map.activereset h2{ 
	display:none; 
} 
#Map.activereset > a.startlink{ 
	display:none; 
} 
#Map.activereset > a.changelink{ 
	left:-140px; 
	opacity:1; 
	transition:left 1s 1s, opacity 1s 1s; 
} 
#Map.activereset > #MicroMap{ 
	z-index:125; 
	opacity:1; 
} 

#Crops.activereset{ 
	width:99px; 
	height:46px; 
	cursor:pointer; 
	box-shadow:none; 
} 
#Crops.activereset h2{ 
	display:none; 
} 
#Crops.activereset > a.startlink{ 
	display:none; 
} 
#Crops.activereset > a.changelink{ 
	left:-140px; 
	opacity:1; 
	transition:left 1s 1s, opacity 1s 1s; 
} 




#CountryExplore,
#CropExplore{ 
	opacity:0; 
	position:absolute; 
	top:800px; 
	width:80%; 
	left:10%; 
	min-height:675px; 
	z-index:1; 
	border-radius:15px; 
	box-shadow:1px 1px 4px #666; 
	border:1px solid #365a8f; 
	background:#FFFFFF; 
	transition: height 1s, opacity 1s, top 1s; 
} 
#CountryExplore.on,
#CropExplore.on{ 
	opacity:1; 
	top:75px;
	transition: height 1s, opacity 1s 1.2s, top 1s; 
} 
#CountryExplore h1,
#CropExplore h1{ 
    font-family: "GeogrotesqueW01-Regular1185161", Arial;
	font-weight:bold; 
	font-size:1.5em;
	margin:10px 15px;
	color:#365a8f; 
} 
#CountryExplore h2,
#CropExplore h2{ 
    font-family: "GeogrotesqueW01-Regular1185161", Arial;
	font-weight:normal; 
	font-size:1.25em;
	margin:10px 15px;
} 
#CropExplore h3{ 
    font-family: "GeogrotesqueW01-Regular1185161", Arial;
	font-weight:normal; 
	font-size:1em;
	margin:10px 15px;
	color:#FFF; 
	background-color:#365a8f; 
	padding:3px 5px; 
	clear:both; 
} 
#CountryExplore .content > p,
#CropExplore .content > p{ 
	margin: 10px 15px; 
} 
#CountryExplore .chart-chooser,
#CropExplore .chart-chooser{ 
	position:absolute; 
	width:400px; 
	top:5px; 
	right:10px; 
} 
#CountryExplore .chart-chooser > div,
#CropExplore .chart-chooser > div{ 
	width:180px; 
	display:inline-block; 
} 
#CountryExplore .chart-chooser > div:first-child,
#CropExplore .chart-chooser > div:first-child{ 
	margin-right:20px; 
} 
#CountryExplore .chart-chooser label,
#CropExplore .chart-chooser label{ 
	display:block; 
	color:#666; 
	font-size:0.9em; 
	font-weight:bold; 
} 
#CountryExplore .chart-chooser select,
#CropExplore .chart-chooser select{ 
	width:100%; 
} 
#CountryExplore .timescale,
#CropExplore .timescale{ 
	margin:20px 0px; 
	text-align:center; 
} 
#CountryExplore .timescale .label,
#CropExplore .timescale .label{
	display:inline-block; 
	padding:4px 10px 2px;  
	background:#368f3f;  
	color:#FFF;
	border:1px solid #368f3f; 
	border-top-left-radius:3px; 
	border-bottom-left-radius:3px; 
} 
#CountryExplore .timescale .label i,
#CropExplore .timescale .label i{ 
	cursor:help; 
} 

#CountryExplore .timescale .buttons,
#CropExplore .timescale .buttons{
	display:inline-block; 
	padding:4px 10px 2px; 
	border-top:1px solid #368f3f; 
	border-bottom:1px solid #368f3f; 
}  
#CountryExplore .timescale .player,
#CropExplore .timescale .player{
	display:inline-block; 
	padding:4px 10px 2px; 
	border:1px solid #368f3f; 
	background:#cde3cf; 
	border-top-right-radius:3px; 
	border-bottom-right-radius:3px; 
}  
#CountryExplore .timescale .player a,
#CropExplore .timescale .player a{ 
	color:#368f3f; 
} 
	
#CountryExplore .timescale .buttons a,
#CropExplore .timescale .buttons a{ 
	display:inline-block; 
	position:relative; 
	height:15px; 
	width:30px; 
	margin:0px 2px; 
	background-color:#CCC; 
	text-decoration:none; 
} 
#CountryExplore .timescale .buttons a.range,
#CropExplore .timescale .buttons a.range{ 
	background-color:#cde3cf; 
} 
#CountryExplore .timescale .buttons a.unavailable,
#CropExplore .timescale .buttons a.unavailable{ 
	background-color:#FFFFFF;
	border:1px solid #CCC; 
	height:13px; 
	width:28px; 
	top:1px;
	margin-top:-1px;
	cursor:not-allowed; 
} 
#CountryExplore .timescale .buttons a.current,
#CropExplore .timescale .buttons a.current{ 
	background-color:#368f3f; 
} 
#CountryExplore .timescale .info,
#CropExplore .timescale .info{ 
	display:block; 
	position:relative; 
	margin:0 auto; 
	height:0px; 
	transition:height .5s, opacity .5s;
} 
#TimescaleTooltip,
#TimescaleInfotip{ 
	position:absolute; 
	display:none; 
	color:#FFF; 
	z-index:100000; 
	width:75px; 
	height:40px; 
} 
#TimescaleTooltip i.fa,
#TimescaleInfotip i.fa{ 
	position:absolute; 
	z-index:1; 
	top:0px; 
	left:40px; 
	color:#0093c9; 
} 
#TimescaleTooltip span,
#TimescaleInfotip span{ 
	position:absolute; 
	display:block; 
	padding:5px 6px; 
	z-index:1; 
	top:14px; 
	font-size:0.85em; 
	width:100%; 
	text-align:center; 
	left:0px; 
	color:#fff; 
	background:#0093c9; 
} 
#TimescaleInfotip{ 
	width:250px; 
} 
#TimescaleInfotip i.fa{ 
	left:20px; 
	color:#368f3f;
} 
#TimescaleInfotip span{ 
	background:#368f3f; 
	text-align:left; 
} 
#CountryExplore .display,
#CropExplore .display{ 
	margin:30px 15px; 
} 
#CountryExplore .display > div{ 
	width:48%; 
	display:inline-block; 
	text-align:center; 
	transition:width 1s; 
} 
#CountryExplore .display > div .caption{ 
	display:block; 
	text-align:left; 
} 
#CountryExplore .display.zoomed > div{ 
	width:100%; 
} 
#CountryExplore .display > div img{ 
	cursor:zoom-in; 
	margin:0 auto; 
} 
#CountryExplore .display > div.chart img{ 
	max-width:800px; 
} 
#CountryExplore .display.zoomed > div img{ 
	cursor:zoom-out; 
} 
#CountryExplore .display > div .caption{ 
	font-style:italic;  
	font-size:0.9em; 
	color:#444; 
} 
	





#CropExplore .display .crop_country_container{ 
	width:45%; 
	float:left; 
	margin:2.5%; 
	display:block; 
	position:relative; 
} 	
/* entire container, keeps perspective */
#CropExplore .display .crop_country_container .bycrop-flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.bycrop-flip-container.mapside .flipper{
	transform: rotateY(180deg);
}

#CropExplore .display .crop_country_container .bycrop-flip-container{ 
	width:425px;
	height:425px; 
} 
.front, 
.back {
	width: 100%;
	height:100%; 
}

/* flip speed goes here */
#CropExplore .display .crop_country_container .bycrop-flip-container .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}






